@import 'normalize.css';


html {
  background-image: url("../static/background-crop.png");
  background-color: #000;
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  color: white;
  max-width: 800px;
  margin: auto;
}

h1 {
  font-style: italic;
  color: #FDCD11;
  text-align: center;
}

section {
  margin-bottom: 30px;
}

a {
  color: #FDCD11;
}

a:hover {
  color: rgb(202, 36, 36);
  transition: 0.2s;
}

.center {
  display: flex;
  justify-content: center;
}

.video-gallery {
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style: none;
  padding: 0;
}

.video-gallery iframe {
  width: 560px;
  height: 315px;
}


.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  row-gap: 25px;
  list-style: none;
  padding: 0;
}

.gallery li img, .video-gallery iframe {
  max-width: 100%;
  box-shadow: 4px 4px 24px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.gallery li img:hover, .video-gallery iframe:hover {
  box-shadow: 8px 8px 48px 8px rgba(0,0,0,0.2);
}

.left {
  display: flex;
  justify-self: left;
}

.list-with-headings li {
  margin-bottom: 20px;
}

.new-lined strong {
  display: block;
}


.logo-download * {
  display: block;
  margin-bottom: 10px;
}


.bio img {
  max-width: 100%;
}
